---
import Config from "virtual:indiecaster/config";

import { customProperties } from "../utils/custom-properties";
import Logo from "./Logo.astro";

const { headerBackgroundColor, headerForegroundColor } = customProperties;
const { mainNavigation } = Config.options;
---

<header class="page-header">
  {
    mainNavigation?.length > 0 && (
      <nav aria-label="Main Navigation">
        <ul class="reset-list primary-navigation base-container-padding">
          {mainNavigation.map((item) => (
            <li>
              <a href={item.url}>{item.name}</a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</header>

<Logo />

<style define:vars={{ headerBackgroundColor, headerForegroundColor }}>
  .page-header {
    background-color: var(--headerBackgroundColor);
    color: var(--headerForegroundColor);
  }

  .page-header a:link,
  .page-header a:visited {
    color: var(--headerForegroundColor);
    text-decoration: none;
  }

  .primary-navigation {
    display: flex;
    font-size: var(--typography-size-small-medium);
    gap: var(--spacing-default);
  }

  @media only screen and (min-width: 43.9375rem) {
    .primary-navigation {
      gap: var(--spacing-medium);
    }
  }
</style>
