---
import Config from "virtual:indiecaster/config";

import AnnounceBar from "../components/AnnounceBar.astro";
import DefaultCustomPlayer from "../components/DefaultCustomPlayer.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeadDefault from "../components/HeadDefault.astro";
import MetaIcons from "../components/MetaIcons.astro";
import OpenGraph from "../components/OpenGraph.astro";

interface Props {
  metaDescription: string;
  metaPageTitle: string;
}

const { metaDescription, metaPageTitle } = Astro.props;
const showAnnounceBar = import.meta.env.ANNOUNCEBAR_ENABLED === "true";
const { metaLanguage, podcastName } = Config.options;
---

<!doctype html>
<html lang={metaLanguage}>
  <head>
    <HeadDefault
      metaDescription={metaDescription}
      metaPageTitle={metaPageTitle}
      podcastName={podcastName}
    />
    <OpenGraph />
    <MetaIcons />
  </head>
  <body>
    {showAnnounceBar && <AnnounceBar />}
    <DefaultCustomPlayer />
    <Header />
    <slot />
    <Footer />
  </body>
</html>
